<section>
  <div class="container ">
    <div class="row">
      {{#each data}}
      <div class="col-lg-3 col-md-4 mt-5">
        <div class="card" style="width: 15rem; height:30rem;">
          <img src="/product-images/{{this._id}}.jpg " class="card-img-top" alt="..." style="height: 16rem;">
          <div class="card-body">
            <h5 class="card-title">{{this.Name}}</h5>
            <p class="card-text">{{this.Description}}</p>
            <p class="card-text">{{this.Price}}</p>
            {{!-- <a href="/add-to-cart/{{this._id}}" class="btn btn-primary">Add to cart</a> --}}
            <button class="btn btn-primary" onclick="addToCart('{{this._id}}')">Add to cart</button>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>
